__pycache__/
*.py[cod]
data/*.csv
data/*.zip
data/img
models/
features/
predictions/
plots/
controller/
scripts/*.pkl
!scripts/online_WIZ_isotonic_calibrator.pkl
scripts/posteriors/
scripts/frames*
_tmp/
.vscode/
*.png
scripts/*.txt
scripts/*_alert
scripts/alert.csv
scripts/*.err
